<app-navbar>/</app-navbar>


<section class="container">
  
  <br>

  <div class="title">
  
    <h1>Abou Our Team</h1>
  
    <br>
  
    <p>
      Don't be left in the dark. Watch this video to find purpose. Good News. Find Peace Today. Find Hope. Connect With Us Today. Ask Questions. Find Truth. Find Answers. Types: Connect With a Pastor, We are Here to Chat, Got Questions?.
    </p>

  </div>

  <br>

  <hr>
  
  <br>

  <div class="row border-light">
   
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="https://biv.com/sites/default/files/2017-12/mark-zuckerberg.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://asiasociety.org/files/131220_malala_yousafzai.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://cdn-images-1.medium.com/max/1050/1*lTEHN86OS67Nf-3-jUM73w.jpeg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
        </div>
      </div>
      <div class="card">
          <img class="card-img-top" src="http://img.timeinc.net/time/photoessays/2008/people_who_mattered/obama_main_1216.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
          </div>
        </div>
    </div>
  
  </div>
</section>